DATABASE_URL="postgresql://amin:123456@localhost:5432/reservation_db?schema=public"
#PGADMIN_DEFAULT_EMAIL=$DEFAULT_EMAIL
#PGADMIN_DEFAULT_PASSWORD=$DEFAULT_PASSWORD

WEBSITE_URL=""

AUTH_JWT_KEY_ADMIN="="
AUTH_JWT_EXPIRE_TIME_ADMIN="4m"

SMS_PANEL_USERNAME=
SMS_PANEL_PASSWORD=
SMS_PANEL_PHONE=
SMS_EXPIRE_TIME=600

SMS_PATTERN_SEND_CODE=""
SMS_PATTERN_SUCCESS_ORDER=""
SMS_PATTERN_SUCCESS_ORDER_ADMIN=""
SMS_PATTERN_CANCEL_ORDER_ADMIN=""

BALE_BOT_TOKEN=


# آدرس پایه API - از تست‌ها مشخص شد
SMS_PANEL_BASE_URL=

# توکن احراز هویت - این مشکل دارد (خطای 401)
SMS_PANEL_TOKEN=
# شماره فرستنده
SMS_PANEL_PHONE=+
