.ltr {
    direction: ltr;
}

@font-face {
    font-family: ir-sans;
    src: url('/fonts/IRANSans Regular.ttf') format(truetype);
    unicode-range: U+600-6FF;
}

@font-face {
    font-family: ir-sans;
    src: url('/fonts/IRANSans Medium.ttf') format(truetype);
    unicode-range: U+600-6FF;
    font-weight: bold;
}

@font-face {
    font-family: ir-sans;
    src: url('/fonts/IRANSans UltraLight.ttf') format(truetype);
    unicode-range: U+600-6FF;
    font-weight: 100;
}

@font-face {
    font-family: ir-sans;
    src: url('/fonts/IRANSans Light.ttf') format(truetype);
    unicode-range: U+600-6FF;
    font-weight: 300;
}


@media screen and (max-width:768px) {
    .SectionIndicator-Span {
        font-size: 9px;
    }
}

div.rmdp-container {
    width: 100%;
}

div.rmdp-container>.rmdp-input {
    width: 100%;
    padding: 18px 5px;
}

tbody.my-table>tr>td {
    text-align: center;
}

.page-link {
    border-radius: 0 !important;
}

.page-item:first-child .page-link {
    border-radius: 0 !important;
}

.page-item:last-child .page-link {
    border-radius: 0 !important;
}